/* Navbar.css */

.navbar {
  background-color: transparent !important;
  backdrop-filter: blur(10px);
}

.navbar-brand img {
  transition: transform 0.3s ease-in-out;
}

.navbar-brand img:hover {
  transform: scale(1.1);
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-toggler-icon {
  background-color: white;
}


